/* This is the css for primitives and files list */

/*-- primitives --*/
.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block {
    border-style: groove;
    border-radius: 10%;
    text-align: center;
    vertical-align: middle;
}

.xs {
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin-top: 8px;
}

/* primitives when hover */
.highlight {
    background-color: var(--orange);
    box-shadow: 3px 3px 3px grey;
}

/*-- file list and list items --*/
#files ul {
    height: 420px;
    width:  96%;
    overflow: scroll;
    margin-top: 8px;
    padding: 0;
    border: 2px solid #ccc;
}

#files li {
    height: 25px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

/* filename when selected */
.selected {
    background-color: lightblue;
}