/* This is the css for primitives and files list */

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block {
    border-style: groove;
    border-radius: 10%;
    text-align: center;
    vertical-align: middle;
}

.xs {
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin-top: 8px;
}

ul {
    height: 420px;
    width:  96%;
    overflow: scroll;
    margin-top: 8px;
    padding: 0;
    border: 2px solid #ccc;
}

li {
    height: 25px;
    width: 96%;
    border-bottom: 1px solid #ccc;
}