/*-- form: enter a word to search for --*/
#searchTerm {
    padding: 10px;
}

#chooseSearchTerm {
    margin: 10px 0px 10px 0px;
}

#searchTermInput {
    margin: 10px auto 10px auto;
    display: block;
}

#searchTermButton {
    margin: 10px auto 10px auto;
    display: block;
}

#searchTermNotice {
    font-size: 12px ;
}

/*-- query terms --*/
#queryTerm {
    padding: 10px;
}

#queryTerm p {
    padding: 0px;
    margin: 0px;
}

#queryTerm input {
    margin: 5px 0px 10px 10px;
    width: 120px;
}

#queryTerm div {
    margin: 5px 0px 0px 10px;
}

#queryTermButton {
    margin: 10px auto 10px auto;
    display: block;
}

/*-- received term --*/
#receivedTerm {
    padding: 10px;
}

