:root {
    --green: #96ceb4;
    --yellow: #ffeead;
    --orange: #ffcc5c;
    --pink: #ff6f69;
}

/*-- text container --*/
.textContainer {
    display: flex;
    flex-direction: column;
}

.textContainer>p {
    width: 100%;
    margin: 0px 0px 5px 0px;
    text-align: center;
}

.textContainer>textarea {
    width: 98%;
    height: 98%;
}

/*-- h3 --*/
h3 {
    margin: 0px 0px 8px 0px;
}

/*-- grid --*/
.grid {
    display: grid;
    grid-template-columns: 120px 220px 220px 220px 220px;
    grid-template-rows: 225px 225px 225px 20px;
    row-gap: 5px;
    grid-template-areas:
    "primitives     Cj            fnDecButton   imgEnc     imgEnc"
    "files          Sj            Lj            imgDec     imgDec"
    "files          kj            Fj            Rj      Wj"
    ".              .               .           .       finish";
}

/*.grid div {*/
/*    background-color: var(--green);*/
/*}*/

/*.grid div:nth-child(even) {*/
/*    background-color: var(--yellow);*/
/*}*/

.cell {
    border-style: dotted;
    border-width: 1px;
}

/*-- sidebar: primitives and files --*/
#primitives {
    grid-area: primitives;
}

#files {
    grid-area: files;
}

/*-- 1st row: Cj, filename Button, and imgEnc --*/
#CjContainer {
    grid-area: Cj;
}

#fnDecButton {
    padding: 10px;
    grid-area: fnDecButton;
}

#fnDecButton>button {
    display: block;
    margin: 50px auto;
}

#imgEnc {
    grid-area: imgEnc;
}

/*-- 2nd row: Sj, Lj, and imgDec --*/
#SjContainer {
    grid-area: Sj;
}

#LjContainer {
    grid-area: Lj;
}

#imgDec {
    grid-area: imgDec;
}

/*-- 3rd row: kj, Fj, Rj, and Wj --*/
#kjContainer {
    grid-area: kj;
}

#FjContainer {
    grid-area: Fj;
}

#RjContainer {
    grid-area: Rj;
}

#WjContainer {
    grid-area: Wj;
}

/*-- footer row: next --*/
#finish {
    grid-area: finish;
}