/* CSS other than image, sidebar (primitive & filelist) */

/*-- chooseFileCell --*/
#chooseFileCell {
    padding: 10px;
}

#chooseFileCell p {
    margin: 10px 0px 10px 0px;
}

#fileInput {
    margin: 10px 0px 10px 10px;
}

/*-- form: choose files and password --*/
#choosePasswordCell {
    padding: 10px;
}

#passwordInput {
    margin: 10px 0px 10px 10px;
    width: 100px;
    height: 20px;
    padding-right: 60px;
}

#passwordButton {
    margin-left: -65px;
    height: 25px;
    width: 60px;
    -webkit-appearance: none;

}
/*#passwordNotice {*/
/*    font-size: 12px ;*/
/*    padding: 0px;*/
/*    margin: 0px;*/
/*}*/



/*-- hint for later search --*/
#hintSearch {
    font-size: 14px ;
    padding: 0px;
    margin: 3px auto;
}