:root {
    --green: #96ceb4;
    --yellow: #ffeead;
    --orange: #ffcc5c;
    --pink: #ff6f69;
}

/*-- text container --*/
.textContainer {
    display: flex;
    flex-direction: column;
}

.textContainer>p {
    width: 100%;
    margin: 0px 0px 5px 0px;
    text-align: center;
}

.textContainer>textarea {
    width: 98%;
    height: 98%;
}

/*-- h3 --*/
h3 {
    margin: 0px 0px 8px 0px;
}

/*-- grid --*/
.grid {
    display: grid;
    grid-template-columns: [c0] 120px [c1] 220px [c2] 220px [c3] 220px [c4] 220px [c5];
    grid-template-rows: [r0] 225px [r1] 225px [r2] 225px [r3] 20px [r4];
    row-gap: 5px;
    grid-template-areas:
    "primitives     searchTerm      queryTerm   imgEnc      imgEnc"
    "files          receivedTerm    Cj          Sj          imgSearch"
    "files          actualFj        computedFj  isEqual     toReturn"
    ".              .               .           .           next3";
}

/*!* -- temp: color of grid cell --*!*/
/*.grid div {*/
/*    background-color: var(--green);*/
/*}*/

/*.grid div:nth-child(even) {*/
/*    background-color: var(--yellow);*/
/*}*/


/*-- coverAlice/Bob --*/
#coverAlice {
    grid-row-start: r0;
    grid-column-start: c0;
    grid-row-end: r1;
    grid-column-end: c3;
    background-color: black;
    opacity: 0.75;
    z-index: 1;
    display: none;
}

#coverBob {
    grid-row-start: r1;
    grid-column-start: c0;
    grid-row-end: r4;
    grid-column-end: c5;
    background-color: black;
    opacity: 0.75;
    z-index: 1;
}

/*-- other grid items --*/
.cell {
    border-style: dotted;
    border-width: 1px;
}

/*-- sidebar: primitives and files --*/
#primitives {
    grid-area: primitives;
}

#files {
    grid-area: files;
}

/*-- 1st row: word, query term, img --*/
#searchTerm {
    grid-area: searchTerm;
}

#queryTerm {
    grid-area: queryTerm;
}

#imgEnc {
    grid-area: imgEnc;
}

/*-- 2nd row: receivedTerm, CjEnc, SjEnc, img_search--*/
#receivedTerm {
    grid-area: receivedTerm;
}

#CjContainer {
    grid-area: Cj;
}

#bSjContainer {
    grid-area: Sj;
}

#imgSearch {
    grid-area: imgSearch;
}
/*-- 3rd row: computedFj, actualFj, isEqual, toReturn --*/
#bComputedFjContainer {
    grid-area: computedFj;
}

#bFjContainer {
    grid-area: actualFj;
}

#isEqualContainer {
    grid-area: isEqual;
}

#toReturnContainer {
    grid-area: toReturn;
}

/*-- footer row: next --*/
#next3 {
    grid-area: next3;
}