/*-- form: choose files and password --*/
#word {
    padding: 0px 20px 20px 40px;
}

#fileInput, #passwordInput {
    margin: 10px 0px 10px 30px;
}

#choosePassword {
    margin-top: 30px;
}

#passwordNotice {
    font-size: 12px ;
}


